.nav{
    font-size: 21pt;
    
}
.nav ul {
    position : relative;
    float: right;
    list-style-type: none;
    
}
.nav li {
    display: inline;
    
}

li b{
    color : black;
    padding-right: 20px;
    
}

li a{
    text-decoration: none;
}

.container {
    display: flex;
    padding-left: 150px;
    padding-top:150px;
    flex-direction: column;
}

hr {
    width : 1000px;
    float: left;
}

footer{
    position: relative;
    left : 50%;
    padding-top : 20px;
}
footer a {
    padding : 15px;
    text-decoration: none;
}
footer span{
    position: absolute;
    bottom : -50px;
    left: 10px;
}

.span-in-div{
    opacity: 0.4;
}